@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Bienvenue dans le projet de BRAHIM NAMMOUCHI</h2>
    <p>voilà mon profil sur github <a href="https://github.com/brahimnammouchi"> </a>.</p>
</div>
